In [49]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the database connection
server_name = '----'
database_name = '-----'
username = ''
password = ''

connection_string = f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(connection_string)

# Define your SQL query
sql_query = """
    SELECT
        order_id,
        category_name,
        brand_name,
        product_name,
        quantity,
        i.list_price
    FROM
        sales.order_items i
        JOIN production.products p ON p.product_id = i.product_id
        JOIN production.categories c ON c.category_id = p.category_id
        JOIN production.brands b ON b.brand_id = p.brand_id
"""

# Fetch data from the database and load it into a DataFrame
df = pd.read_sql_query(sql_query, engine)

# Print the first few rows of the DataFrame
df

,order_id,category_name,brand_name,product_name,quantity,list_price
0,1,Cruisers Bicycles,Electra,Electra Townie Original 7D EQ - Women's - 2016,1,599.99
1,1,Mountain Bikes,Trek,Trek Remedy 29 Carbon Frameset - 2016,2,1799.99
2,1,Cyclocross Bicycles,Surly,Surly Straggler - 2016,2,1549.00
3,1,Cruisers Bicycles,Electra,Electra Townie Original 7D EQ - 2016,2,599.99
4,1,Mountain Bikes,Trek,Trek Fuel EX 8 29 - 2016,1,2899.99
...,...,...,...,...,...,...
4640,1614,Road Bikes,Trek,Trek Emonda ALR 6 - 2018,2,2299.99
4641,1614,Cruisers Bicycles,Electra,Electra Cruiser 1 - 2016/2017/2018,2,269.99
4642,1615,Electric Bikes,Trek,Trek Verve+ Lowstep - 2018,2,2299.99
4643,1615,Cruisers Bicycles,Electra,Electra Tiger Shark 3i - 2018,1,899.99
4644,1615,Road Bikes,Trek,Trek Domane SL 5 Disc - 2018,1,2499.99

In [51]:
import os
import pandas as pd
from sqlalchemy import create_engine

# Set up the database connection
server_name = '-----'
database_name = '-----'
username = ''
password = ''

connection_string = f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(connection_string)

# Define your SQL query
sql_query = """
    SELECT
        order_id,
        category_name,
        brand_name,
        product_name,
        quantity,
        i.list_price
    FROM
        sales.order_items i
        JOIN production.products p ON p.product_id = i.product_id
        JOIN production.categories c ON c.category_id = p.category_id
        JOIN production.brands b ON b.brand_id = p.brand_id
"""

# Fetch data from the database and load it into a DataFrame
df = pd.read_sql_query(sql_query, engine)

# Specify the folder to save Excel files
output_folder = r'C:\Users\danis\Desktop\Excel Files'

# Create an audit DataFrame to track the imports
audit_data = []

# Create Excel files with multiple sheets
category_groups = df.groupby('category_name')

for category_name, group_df in category_groups:
    excel_file = os.path.join(output_folder, f'{category_name}_data.xlsx')
    writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')
    
    brand_groups = group_df.groupby('brand_name')
    for brand_name, brand_group_df in brand_groups:
        sheet_name = brand_name
        rows_imported = len(brand_group_df)
        
        # Append audit data
        audit_data.append({
            'ID': len(audit_data) + 1,
            'file_name': excel_file,
            'excel_name': sheet_name,
            'rows_imported': rows_imported
        })
        
        # Write data to the sheet
        brand_group_df.to_excel(writer, sheet_name=sheet_name, index=False)
    
    writer.save()

# Create the audit DataFrame
audit_df = pd.DataFrame(audit_data)

# Print the audit DataFrame
audit_df

,ID,file_name,excel_name,rows_imported
0,1,C:\Users\danis\Desktop\Excel Files\Children Bi...,Electra,490
1,2,C:\Users\danis\Desktop\Excel Files\Children Bi...,Haro,91
2,3,C:\Users\danis\Desktop\Excel Files\Children Bi...,Strider,16
3,4,C:\Users\danis\Desktop\Excel Files\Children Bi...,Sun Bicycles,16
4,5,C:\Users\danis\Desktop\Excel Files\Children Bi...,Trek,169
5,6,C:\Users\danis\Desktop\Excel Files\Comfort Bic...,Electra,346
6,7,C:\Users\danis\Desktop\Excel Files\Comfort Bic...,Sun Bicycles,191
7,8,C:\Users\danis\Desktop\Excel Files\Cruisers Bi...,Electra,883
8,9,C:\Users\danis\Desktop\Excel Files\Cruisers Bi...,Pure Cycles,258
9,10,C:\Users\danis\Desktop\Excel Files\Cruisers Bi...,Sun Bicycles,237
10,11,C:\Users\danis\Desktop\Excel Files\Cyclocross ...,Surly,198
11,12,C:\Users\danis\Desktop\Excel Files\Cyclocross ...,Trek,58
12,13,C:\Users\danis\Desktop\Excel Files\Electric Bi...,Electra,10
13,14,C:\Users\danis\Desktop\Excel Files\Electric Bi...,Sun Bicycles,24
14,15,C:\Users\danis\Desktop\Excel Files\Electric Bi...,Trek,178
15,16,C:\Users\danis\Desktop\Excel Files\Mountain Bi...,Haro,129
16,17,C:\Users\danis\Desktop\Excel Files\Mountain Bi...,Heller,97
17,18,C:\Users\danis\Desktop\Excel Files\Mountain Bi...,Sun Bicycles,17
18,19,C:\Users\danis\Desktop\Excel Files\Mountain Bi...,Surly,352
19,20,C:\Users\danis\Desktop\Excel Files\Mountain Bi...,Trek,511
20,21,C:\Users\danis\Desktop\Excel Files\Road Bikes_...,Surly,55
21,22,C:\Users\danis\Desktop\Excel Files\Road Bikes_...,Trek,319